/* ====== Generic Stylesheet ======  */

/* Margin Variants */
.m-1 { margin: 4px; }      
.m-2 { margin: 8px; }
.m-3 { margin: 16px; }     
.m-4 { margin: 24px; }     
.m-5 { margin: 32px; }     
.m-6 { margin: 40px; }     

/* Padding Variants */
.p-1 { padding: 4px; }     
.p-2 { padding: 8px; }      
.p-3 { padding: 16px; }     
.p-4 { padding: 24px; }    
.p-5 { padding: 32px; }     
.p-6 { padding: 40px; }     

/* Height Variants */
.h-1 { height: 50px; }
.h-2 { height: 100px; }     
.h-3 { height: 200px; }     
.h-4 { height: 300px; }    

/* Width Variants */
.w-1 { width: 50px; }       
.w-2 { width: 100px; }      
.w-3 { width: 200px; }     
.w-4 { width: 300px; }      